{% extends "layout.html" %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">POS Terminal Interface</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body p-0" style="height: 80vh;">
                <iframe src="/pos-app/" style="width: 100%; height: 100%; border: none;"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}
